.advantages__info {
  padding: 32px 18px 16px 18px;

  @media (min-width: $vp-768) {
    max-width: 610px;
    margin: 0 auto;
    padding: 47px 60px 56px 60px;
  }

  @media (min-width: $vp-1200) {
    max-width: 730px;
    padding: 59px 120px 45px 120px;
  }
}

.advantages__point {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: $vp-768) {
    flex-direction: row;
  }
}

.advantages__point-about {
  padding: 37px 18px;

  text-align: center;

  background-color: $seagull;

  &--padding {
    padding: 54px 18px 40px 18px;
  }

  &--figure {
    clip-path: polygon(50% 18%, 100% 11%, 100% 100%, 0 100%, 0 11%);

    @media (min-width: $vp-768) {
      clip-path: none;
    }
  }

  @media (min-width: $vp-768) {
    min-width: 256px;
    padding: 52px 33px 31px 33px;
  }

  @media (min-width: $vp-1200) {
    min-width: 400px;
    padding: 52px 50px 51px 50px;
  }
}

.advantages__point-image {
  width: 100%;
  max-height: 260px;

  object-fit: cover;

  @media (min-width: $vp-768) {
    max-height: 256px;
  }
}

.advantages__point-subtitle {
  margin: 0 0 11px 0;

  &--margin {
    margin: 0 0 16px 0;
  }
}

.advantages__point-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 24px 18px 28px 18px;

  list-style: none;
  text-align: center;

  gap: 25px;

  &--padding {
    padding: 23px 18px 46px 18px;
  }

  &--text-align {
    text-align: left;
  }

  &--whisper-light {
    background-color: $whisper-light;
  }

  &--gap {
    gap: 49px;
  }

  @media (min-width: $vp-768) {
    display: grid;
    flex-direction: row;
    padding: 0;

    text-align: center;

    gap: 0;
    grid-template-columns: repeat(3, 1fr);
  }
}

.advantages__point-item {
  position: relative;

  margin: 0;
  padding: 0;

  background-repeat: no-repeat;
  background-position: left top;

  &--infrastructure {
    padding: 8px 0 0 47px;
  }

  &--home::before,
  &--food::before,
  &--souvenirs::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 40px;
    height: 40px;

    background-repeat: no-repeat;

    @media (min-width: $vp-768) {
      left: 50%;

      transform: translate(-50%, 0);
    }
  }

  &--home::before {
    background-image: url("../img/advantages-point-icon-home.svg");

    @media (min-width: $vp-768) {
      top: 60px;

      width: 77px;
      height: 72px;

      background-size: 77px 72px;
    }

    @media (min-width: $vp-1200) {
      top: 69px;
    }
  }

  &--food::before {
    background-image: url("../img/advantages-point-icon-food.svg");

    @media (min-width: $vp-768) {
      top: 62px;

      width: 80px;
      height: 68px;

      background-size: 80px 68px;
    }

    @media (min-width: $vp-1200) {
      top: 72px;
    }
  }

  &--souvenirs::before {
    background-image: url("../img/advantages-point-icon-souvenirs.svg");

    @media (min-width: $vp-768) {
      top: 64px;

      width: 66px;
      height: 75px;

      background-size: 66px 75px;
    }

    @media (min-width: $vp-1200) {
      top: 69px;
    }
  }

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    padding: 156px 50px 60px 50px;
  }

  @media (min-width: $vp-1200) {
    padding: 168px 50px 69px 50px;
  }

  &--padding {
    @media (min-width: $vp-768) {
      padding: 42px 33px 41px 33px;
    }

    @media (min-width: $vp-1200) {
      padding: 52px 50px 52px 50px;
    }
  }

  &:last-child {
    margin: 0;
  }
}

.advantages__point-number {
  display: inline-flex;
  margin: 0 0 17px 0;

  font-size: 14px;
  line-height: 21px;
  color: $night-rider;
  text-transform: uppercase;

  &--white {
    color: $white;
  }
}
