.banner {
  position: relative;

  display: flex;
  flex-direction: column;
  padding: 90px 20px 81px 20px;

  background-color: $white-smoke;
  background-image: url("../img/background/banner-background-image-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/banner-background-image-mobile@2x.jpg");
    background-position: center 27%;
  }

  @media (min-width: $vp-768) {
    padding: 77px 60px 90px 60px;

    background-image: url("../img/background/banner-background-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/banner-background-image-tablet@2x.jpg");
    }
  }

  @media (min-width: $vp-1200) {
    padding: 78px 60px 89px 60px;

    background-image: url("../img/background/banner-background-image-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/banner-background-image-desktop@2x.jpg");
    }
  }

  &--inner {
    padding: 52px 20px 62px 20px;

    background-position: 0 100%;

    @media (min-width: $vp-768) {
      padding: 93px 60px 115px 60px;
    }

    @media (min-width: $vp-1200) {
      padding: 99px 100px 121px 100px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 57px;

    background: url("../img/svg/first-block-pattern.svg") center;
  }
}

.banner__image-container {
  margin: auto;

  @media (min-width: $vp-768) {
    width: 461px;
    height: 349px;
    margin: auto;
  }

  @media (min-width: $vp-1200) {
    margin: auto;
  }

  .banner--inner & {
    margin: auto;

    @media (min-width: $vp-768) {
      width: 460px;
      height: 80px;
    }
  }
}

.banner__image {
  @media (min-width: $vp-768) {
    width: 461px;
    height: 349px;

    .banner--inner & {
      width: 460px;
      height: 80px;
    }
  }
}
