.banner {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 389px;

  background-color: $white-smoke;
  background-image: url("../img/first-block/banner-background-image-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/first-block/banner-background-image-mobile@2x.jpg");
    background-position: center 27%;
  }

  @media (min-width: $vp-768) {
    min-height: 518px;

    background-image: url("../img/first-block/banner-background-image-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/first-block/banner-background-image-tablet@2x.jpg");
    }
  }

  &--inner {
    min-height: 158px;

    @media (min-width: $vp-768) {
      min-height: 290px;
    }

    @media (min-width: $vp-1200) {
      min-height: 301px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 57px;

    background: url("../img/first-block/first-block-pattern.svg") center;
  }
}

.banner__image-container {
  margin: auto;

  @media (min-width: $vp-768) {
    width: 461px;
    height: 349px;
  }
}

.banner__image {
  @media (min-width: $vp-768) {
    width: 461px;
    height: 349px;
  }
}
