.banner {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 389px;

  background-color: $white-smoke;
  background-image: url("../img/banner-background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $vp-768) {
    min-height: 518px;
  }

  &--inner {
    min-height: 158px;

    @media (min-width: $vp-768) {
      min-height: 290px;
    }

    @media (min-width: $vp-1200) {
      min-height: 301px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 57px;

    background: url("../../img/first-block-pattern.svg") center;
  }
}

.banner__image {
  margin: auto;
}
