.button {
  padding: 16px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: $font-pt-sans;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $seagull;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $seagull-hover;
  }

  &:active {
    color: rgba($white, 0.3);

    background-color: $seagull-active;
  }

  &:focus {
    color: $white;

    background-color: $seagull;
    outline: 3px solid $seagull;
    outline-offset: 3px;
  }

  &:disabled {
    background-color: $gainsboro;

    pointer-events: none;
  }
}
