.custom-element {
  position: relative;
}

.custom-element__input-label {
  padding: 10px 0 10px 62px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  cursor: pointer;
}

.custom-element__icon {
  position: absolute;
  top: -10px;

  display: inline-flex;
  width: 46px;
  height: 46px;

  background-color: $white-smoke;
  cursor: pointer;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }

  .custom-element:hover & {
    background-color: $whisper-dark;
  }

  .custom-element:active & {
    background-color: $light-grey;
  }
}

.custom-element__input[type="radio"]:checked + .custom-element__icon::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 16px;
  height: 16px;

  background-color: $night-rider;
  border-radius: 50%;
}

.custom-element:active .custom-element__input[type="radio"]:checked + .custom-element__icon::after {
  background-color: rgba($night-rider, 0.3);
}

.custom-element__input[type="radio"]:focus + .custom-element__icon {
  background-color: $white-smoke;
  outline: 3px solid $seagull;
  outline-offset: 3px;
}

.custom-element__input[type="checkbox"]:checked + .custom-element__icon::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;

  width: 22px;
  height: 16px;

  background-image: url("../img/custom-element/input-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.custom-element:active .custom-element__input[type="checkbox"]:checked + .custom-element__icon::after {
  opacity: 30%;
}

.custom-element__input[type="checkbox"]:focus + .custom-element__icon {
  background-color: $white-smoke;
  outline: 3px solid $seagull;
  outline-offset: 3px;
}
