.custom-element {
  position: relative;
}

.custom-element__input-label {
  padding: 10px 0 10px 62px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  cursor: pointer;
}

.custom-element__icon {
  position: absolute;
  top: -10px;

  display: inline-flex;
  width: 46px;
  height: 46px;

  background-color: $white-smoke;

  &--radio {
    border-radius: 50%;
  }

  &--checkbox {
    border-radius: 4px;
  }
}

.custom-element__input[type="radio"]:checked + .custom-element__icon::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 16px;
  height: 16px;

  background-color: $night-rider;
  border-radius: 50%;
}

.custom-element__input[type="checkbox"]:checked + .custom-element__icon::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 12px;

  width: 22px;
  height: 16px;

  background-image: url("../img/input-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
}
