.fields {
  display: flex;
  flex-direction: column;
  padding: 0;

  gap: 36px;

  @media (min-width: $vp-768) {
    padding: 54px 64px 64px 64px;

    gap: 48px;
  }

  @media (min-width: $vp-1200) {
    padding: 34px 120px 63px 120px;
  }
}

.fields__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.fields__container-button {
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  gap: 3px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: $vp-1200) {
    padding: 0 95px;
  }

  & .fields__description {
    align-self: flex-end;

    @media (min-width: $vp-768) {
      align-self: flex-start;
    }
  }
}

.fields__fieldset {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 24px 20px;

  border: none;

  gap: 16px;

  @media (min-width: $vp-768) {
    margin: 0 0 63px 0;
    padding: 0;

    border-top: 1px solid $gainsboro;
  }

  @media (min-width: $vp-1200) {
    margin: 0 0 71px 0;
  }

  &--user-information {
    border: none;


    @media (min-width: $vp-768) {
      position: relative;

      width: calc(50% - 29px);
    }

    @media (min-width: $vp-1200) {
      width: calc(50% - 50px);
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "";
        position: absolute;
        top: -82px;
        right: -29px;

        width: 1px;
        height: calc(100% + 90px);

        background-color: $gainsboro;
      }

      @media (min-width: $vp-1200) {
        right: -50px;
      }
    }
  }

  &--contacts {
    position: relative;

    border: none;

    @media (min-width: $vp-768) {
      width: calc(50% - 29px);
    }

    @media (min-width: $vp-1200) {
      width: calc(50% - 50px);
    }

    &::before {
      @media (min-width: $vp-768) {
        content: "";
        position: absolute;
        top: -82px;
        left: -30px;

        width: 1px;
        height: calc(100% + 90px);

        background-color: $gainsboro;
      }

      @media (min-width: $vp-1200) {
        left: -51px;
      }
    }
  }

  &--impression {
    @media (min-width: $vp-768) {
      margin: 0 0 48px 0;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 56px 0;
    }
  }

  &--attractions {
    @media (min-width: $vp-768) {
      margin: 0 0 42px 0;
    }

    @media (min-width: $vp-1200) {
      margin: 0 0 56px 0;
    }
  }

  &--emotions {
    @media (min-width: $vp-1200) {
      padding: 0 95px;
    }
  }

  &:last-of-type {
    margin: 0;
  }
}

.fields__title {
  width: 100%;
  margin: 0 0 20px 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  transform: translate(0, 24px);

  @media (min-width: $vp-768) {
    max-width: 400px;
    margin: 0 0 28px 0;

    font-size: 21px;
    line-height: 26px;

    transform: translate(0, 0);
  }

  &::before {
    content: "";
    position: absolute;
    top: -24px;
    left: -22px;

    width: calc(100% + 44px);
    height: 1px;

    background-color: $whisper-dark;

    @media (min-width: $vp-768) {
      display: none;
    }
  }

  &--user-information & {
    min-width: auto;
  }

  &--contacts & {
    min-width: auto;
  }
}

.fields__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 16px;

  @media (min-width: $vp-768) {
    display: grid;
    padding: 0 36px;

    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $vp-1200) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 17px 53px;

    gap: 28px;
  }

  &--padding {
    @media (min-width: $vp-768) {
      padding: 0 84px;
    }

    @media (min-width: $vp-1200) {
      padding: 31px 53px;
    }
  }
}

.fields__item {
  padding: 10px 0;
}

.fields__description {
  margin: 0;

  font-size: 12px;
  line-height: 21px;
  color: $night-rider;
  text-transform: uppercase;

  opacity: 60%;

  @media (min-width: $vp-768) {
    margin: 23px 0 0 0;
  }
}

.fields__button {
  width: 100%;

  @media (min-width: $vp-768) {
    width: auto;
    padding: 16px 71px;
  }

  @media (min-width: $vp-1200) {
    padding: 16px 101px;
  }
}
