.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 33px 31px 33px;

  gap: 30px;

  @media (min-width: $vp-768) {
    flex-direction: row;
    justify-content: space-between;
    padding: 33px 60px 36px 60px;
  }

  @media (min-width: $vp-1200) {
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 120px 36px 120px;
  }

  &--padding {
    padding: 35px 33px 31px 33px;

    @media (min-width: $vp-768) {
      padding: 33px 60px 36px 60px;
    }

    @media (min-width: $vp-1200) {
      padding: 32px 120px 36px 120px;
    }
  }
}

.footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $vp-768) {
    max-width: 250px;

    text-align: left;
  }

  @media (min-width: $vp-1200) {
    max-width: 300px;

    text-align: left;
  }
}

.footer__social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer__link {
  display: flex;

  font-size: 14px;
  line-height: 21px;
  font-family: $font-pt-sans;
  color: $black;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    color: $seagull;
  }

  &:active {
    color: $pink-swan;
  }

  &:focus {
    color: $black;

    outline: 2px solid $seagull;
    outline-offset: 2px;
  }
}

.footer__link-text {
  max-width: 300px;
  margin: 7px 12px 0 0;

  text-align: right;

  @media (min-width: $vp-768) {
    max-width: 140px;
  }

  @media (min-width: $vp-1200) {
    max-width: 250px;
  }
}
