.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__description {
  margin: 0 0 0 16px;

  font-size: 14px;
  line-height: 21px;
  font-family: $font-pt-sans;
  color: $night-rider;
  text-transform: uppercase;
}

.form-input__input {
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-pt-sans;
  color: $black;

  background-color: $white-smoke;
  border: none;

  &::placeholder {
    color: rgba($black, 0.3);

    opacity: 100%;
  }

  &--telephone,
  &--email {
    padding: 16px 61px 16px 16px;

    background-repeat: no-repeat;
    background-position: right;
  }

  &--telephone {
    background-image: url("../img/svg/input-telephone-icon.svg");
  }

  &--email {
    background-image: url("../img/svg/input-email-icon.svg");
  }

  @media (min-width: $vp-768) {
    width: calc(100% + 2px);
  }

  @media (min-width: $vp-1200) {
    width: 100%;
  }

  &--textarea {
    min-height: 150px;

    resize: none;

    @media (min-width: $vp-768) {
      width: calc(100% + 8px);
      min-height: 160px;
      margin: 0 0 0 -3px;
    }

    @media (min-width: $vp-1200) {
      width: 100%;
      margin: 0;
    }
  }

  .form-input:hover & {
    background-color: $whisper-dark;
  }

  .form-input:active & {
    background-color: $white;
    outline: 4px solid $whisper-dark;
    outline-offset: -4px;
  }

  &:focus {
    background-color: $white-smoke;
    outline: 3px solid $seagull;
  }

  .form-input:hover &:focus {
    background-color: $white-smoke;
  }

  &:disabled {
    background-color: $gainsboro;
    outline: none;

    pointer-events: none;
  }

  &:hover:disabled {
    background-color: $gainsboro;
    outline: none;

    pointer-events: none;
  }
}
