.form-input {
  display: flex;
  flex-direction: column;
}

.form-input__description {
  margin: 0 0 0 16px;

  font-size: 14px;
  line-height: 21px;
  font-family: $font-pt-sans;
  color: $night-rider;
  text-transform: uppercase;
}

.form-input__input {
  padding: 16px;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: $font-pt-sans;
  color: $black;

  background-color: $white-smoke;
  border: none;

  &::placeholder {
    opacity: 30%;
  }

  &--textarea {
    resize: none;
    min-height: 150px;

    @media (min-width: $vp-768) {
      min-height: 160px;
    }
  }
}
