.hotel-search__info {
  padding: 39px 18px 49px 18px;

  br {
    display: none;
  }

  @media (min-width: $vp-768) {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 60px 55px 60px;

    br {
      display: block;
    }
  }

  @media (min-width: $vp-1200) {
    padding: 61px 120px 66px 120px;
  }
}
