.info {
  text-align: center;
}

.info__subtitle {
  margin: 0 0 35px 0;
}

.info__title {
  margin: 0 0 25px 0;

  &--margin-more {
    margin: 0 0 35px 0;
  }
}

.info__description {
  margin: 0 0 32px 0;

  &--margin {
    margin: 0;
  }
}

.info__button {
  display: inline-flex;
  justify-content: center;
  width: 100%;

  @media (min-width: $vp-768) {
    width: auto;
    padding: 14px 121px 17px 121px;
  }
}
