.like {
  display: flex;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-family: $font-pt-sans;
  color: $black;

  background-color: $transparent;
  border: none;

  gap: 9px;

  &:hover {
    opacity: 70%;
  }

  &:active {
    opacity: 40%;
  }

  &:focus {
    outline: 3px solid $seagull;
    outline-offset: 3px;
    opacity: 100%;
  }
}

.like__icon {
  opacity: 30%;

  @media (min-width: $vp-1200) {
    opacity: 100%;

    fill: $white;
  }
}

.like__number {
  margin: 4px 0 0 0;

  @media (min-width: $vp-768) {
    max-width: 70px;
  }

  @media (min-width: $vp-1200) {
    max-width: 100px;
  }
}
