.navigation__list {
  background-color: $seagull;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: $font-pt-sans;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
}
