.page,
.page__body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.page__body {
  width: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: $font-pt-sans;
  color: $black;

  background-color: $white-smoke;
}

.page__container {
  width: 100%;
  min-width: 320px;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;

  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}
