.photos__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  gap: 15px;

  @media (min-width: $vp-768) {
    gap: 0;
  }

  @media (min-width: $vp-1200) {
    position: relative;
  }
}

.photos__item-container {
  display: flex;
  flex-direction: column;

  gap: 11px;

  @media (min-width: $vp-768) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 20px 15px 20px;

    background-color: $white-smoke;
  }

  @media (min-width: $vp-1200) {
    position: absolute;
    bottom: 0;

    width: 100%;

    background-color: rgba($color: $black, $alpha: 0.3);
  }

  &--whisper {
    @media (min-width: $vp-768) {
      background-color: $whisper;
    }

    @media (min-width: $vp-1200) {
      background-color: rgba($color: $black, $alpha: 0.3);
    }
  }
}

.photos__title,
.photos__description {
  font-size: 14px;
  line-height: 21px;
}

.photos__title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $vp-1200) {
    color: $white;
  }
}

.photos__description {
  margin: 0;
  padding: 0;

  color: $night-rider;

  @media (min-width: $vp-1200) {
    color: $white;
  }
}

.photos__button {
  align-self: flex-start;
  cursor: pointer;

  @media (min-width: $vp-1200) {
    color: $white;
  }
}

.photos__link {
  display: flex;
}

.photos__image {
  width: 100%;
  max-height: 280px;

  object-fit: cover;
}
