.social {
  display: flex;
  flex-wrap: wrap;

  gap: 6px;
}

.social__link {
  position: relative;

  display: block;
  width: 48px;
  height: 48px;

  background-color: $seagull;
  background-repeat: no-repeat;
  background-position: center;

  &--vkontakte::before,
  &--telegram::before,
  &--youtube::before {
    content: "";
    position: absolute;

    width: 24px;
    height: 24px;

    transform: translate(50%, 50%);
  }

  &--vkontakte::before {
    background-image: url("../img/social/social-icon-vk.svg");
  }

  &--telegram::before {
    background-image: url("../img/social/social-icon-telegram.svg");
  }

  &--youtube::before {
    background-image: url("../img/social/social-icon-youtube.svg");
  }

  &:hover {
    background-color: $seagull-hover;
  }

  &:active {
    background-color: $seagull-active;
  }

  &--vkontakte:active::before,
  &--telegram:active::before,
  &--youtube:active::before {
    opacity: 30%;
  }

  &:focus {
    background-color: $seagull;
    outline: 2px solid $seagull;
    outline-offset: 2px;
  }
}
