.video-presentation__info {
  padding: 18px 18px 38px 18px;

  @media (min-width: $vp-768) {
    max-width: 580px;
    margin: 0 auto;
    padding: 56px 48px 44px 48px;
  }

  @media (min-width: $vp-1200) {
    max-width: 690px;
    padding: 65px 120px 40px 120px;
  }
}

.video-presentation__player {
  position: relative;

  padding: 0 20px;

  @media (min-width: $vp-768) {
    padding: 46px 60px 43px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 42px 200px 88px 200px;
  }
}

.video-presentation__image {
  display: block;
  width: 100%;
  max-height: 250px;

  object-fit: cover;

  @media (min-width: $vp-768) {
    min-height: 500px;
  }
}

.video-presentation__link {
  position: absolute;
  top: calc(50% + 3px);
  left: 50%;

  width: 48px;
  height: 54px;

  background-color: rgba($white, 0.7);
  transform: translate(-50%, -50%);

  clip-path: polygon(100% 50%, 0 0, 0 100%);

  @media (min-width: $vp-1200) {
    top: calc(50% - 21px);
  }

  &:hover {
    background-color: rgba($white, 1);

    transition: 0.2s ease-in;
  }

  &:focus {
    background-color: $seagull;
  }

  &:active {
    background-color: rgba($white, 0.4);
  }
}
