.video-presentation__info {
  padding: 17px 18px 38px 18px;

  @media (min-width: $vp-768) {
    max-width: 580px;
    margin: 0 auto;
    padding: 58px 60px 44px 60px;
  }

  @media (min-width: $vp-1200) {
    max-width: 690px;
    padding: 62px 120px 40px 120px;
  }
}

.video-presentation__player {
  position: relative;

  padding: 0 18px;

  @media (min-width: $vp-768) {
    padding: 44px 60px 40px 60px;
  }

  @media (min-width: $vp-1200) {
    padding: 40px 200px 84px 200px;
  }
}

.video-presentation__image {
  display: block;
  width: 100%;
  max-height: 250px;

  object-fit: cover;

  @media (min-width: $vp-768) {
    min-height: 500px;
  }
}

.video-presentation__link {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 48px;
  height: 54px;

  background-color: rgba($white, 0.7);
  transform: translate(-50%, -50%);

  clip-path: polygon(100% 50%, 0 0, 0 100%);

  &:hover {
    background-color: rgba($white, 1);
  }

  &:active {
    background-color: rgba($white, 0.4);
  }

  &:focus {
    background-color: $seagull;
  }
}
