@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/ptsans.woff2") format("woff2"), url("../../fonts/ptsans.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/ptsansbold.woff2") format("woff2"), url("../../fonts/ptsansbold.woff") format("woff");
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}

.subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.subtitle--color {
  color: #ffffff;
}

.description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
}
.description--color {
  color: #ffffff;
}

.button {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  color: #ffffff;
  background-color: #81b3d2;
}

.like {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 0;
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.social__link {
  display: inline-flex;
  background-color: #81b3d2;
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
}
.social__link--vkontakte {
  background-image: url("../img/social-icon-vk.svg");
}
.social__link--telegram {
  background-image: url("../img/social-icon-telegram.svg");
}
.social__link--youtube {
  background-image: url("../img/social-icon-youtube.svg");
}

.form-input {
  display: flex;
  flex-direction: column;
}

.form-input-description {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 0 16px;
}

.form-input__input {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  padding: 16px;
}
.form-input__input::placeholder {
  opacity: 30%;
}
.form-input__input--textarea {
  resize: none;
}

.custom-element {
  position: relative;
}

.custom-element__input-label {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  padding: 0 0 0 62px;
}

.custom-element-icon {
  position: absolute;
  display: inline-flex;
  background-color: #f2f2f2;
  width: 46px;
  height: 46px;
  top: -10px;
}
.custom-element-icon--radio {
  border-radius: 50%;
}
.custom-element-icon--checkbox {
  border-radius: 4px;
}

.custom-element-input[type=radio]:checked + .custom-element-icon::after {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;
  width: 16px;
  height: 16px;
  background-color: #333333;
  border-radius: 50%;
}

.custom-element-input[type=checkbox]:checked + .custom-element-icon::after {
  content: "";
  position: absolute;
  background-image: url("../img/input-checked.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 15px;
  left: 12px;
  width: 22px;
  height: 16px;
}

.page,
.page__body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.page__body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  width: 100%;
}

.page__container {
  background-color: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
}

.header__toggle {
  width: 22px;
  height: 23px;
  border: none;
  background-color: #000000;
}

.navigation__list {
  background-color: #81b3d2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation__link {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.banner {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url("../img/banner-background-image.jpg");
  background-repeat: no-repeat;
  min-height: 389px;
}
.banner--inner {
  min-height: 158px;
}

.banner__image {
  margin: auto 0;
}

.info__subtitle {
  margin: 0 0 35px 0;
}

.info__title {
  margin: 0 0 25px 0;
}
.info__title--margin-more {
  margin: 0 0 35px 0;
}

.info__description {
  margin: 0 0 32px 0;
}
.info__description--margin {
  margin: 0;
}

.advantages__point {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages__point-about {
  background-color: #81b3d2;
}

.advantages__point-subtitle {
  margin: 0 0 11px 0;
}
.advantages__point-subtitle--margin {
  margin: 0 0 16px 0;
}

.advantages__point-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.advantages__point-list--color-margin {
  gap: 49px;
  background-color: #eeeeee;
}

.advantages__point-item {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-position: left top;
}
.advantages__point-item--infrastructure {
  padding: 8px 0 0 47px;
}
.advantages__point-item--home {
  background-image: url("../img/advantages-point-icon-home.svg");
}
.advantages__point-item--food {
  background-image: url("../img/advantages-point-icon-food.svg");
}
.advantages__point-item--souvenirs {
  background-image: url("../img/advantages-point-icon-souvenirs.svg");
}
.advantages__point-item:last-child {
  margin: 0;
}

.advantages__point-number {
  display: inline-flex;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 0 17px 0;
}
.advantages__point-number--color {
  color: #ffffff;
}

.fields__container-contacts {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.fields__fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: none;
  margin: 0;
  padding: 0;
}

.fields__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.fields__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.fields__item {
  margin: 0 0 36px 0;
}

.fields__description {
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  opacity: 60%;
  margin: 0;
}

.photos-cards__photos {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.photos__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.photos__item-container {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.photos__title,
.photos__description {
  font-size: 14px;
  line-height: 21px;
}

.photos__title {
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 0;
}

.photos__description {
  color: #333333;
  margin: 0;
  padding: 0;
}

.photos__button {
  align-self: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__social {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__link {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer__link-text {
  margin: 7px 12px 0 0;
}
/*# sourceMappingURL=style.css.map */