//Цвета
$black: #000000;
$white: #ffffff;
$night-rider: #333333;
$seagull: #81b3d2;
$seagull-hover: #669ec0;
$seagull-active: #5496bd;
$roman-coffee: #766357;
$white-smoke: #f2f2f2;
$whisper-light: #eeeeee;
$whisper: #eaeaea;
$whisper-dark: #e5e5e5;
$light-grey: #d5d5d5;
$pink-swan: #b3b3b3;
$transparent: rgba(255, 255, 255, 0);


//Шрифты
$font-pt-sans: "PT Sans", "Arial", sans-serif;

//Viewports
$vp-768: 768px;
$vp-1200: 1200px;
